.fundo-escuro {
background: var(--primary-color);
}

.main-bg {
background-image: url("/assets/img/confetti-doodles.svg");
background-size: cover;
background-position: center center;
color: var(--white-color);
}

.white-bg{
color: var(--primary-color);
background: var(--white-color);
}

.main-content {
max-width: 120rem;
margin: 0 auto;
padding: 8rem var(--gap);
}

.section {
min-height: 100vh;
margin: 0 auto;
}
